.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

padding:100px 80px;

background:#111827;

}

.stat-box{

background:#1b2334;

padding:40px;

border-radius:20px;

text-align:center;

transition:.3s;

}

.stat-box:hover{

background:#ff6b00;

transform:translateY(-8px);

}

.stat-box h2{

font-size:48px;

margin-bottom:10px;

color:white;

}

.stat-box p{

font-size:18px;

color:#d6d6d6;

}